<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail For {{ post.title }}</title>
</head>
<body>
    <h1>
        Title : {{ post.title }}
        Author : {{ post.author }}
    </h1>
    <img src="{{ post.image.url }}" alt="">
   <p>

    {{ post.content }}
    <hr>
    <p>Publish Date:{{ post.published_date }}</p>
   </p>
</body>
</html>